body {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  padding: 50px;

}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}