body {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  padding: 50px;]

}
   <img src="Imagens/avatar.jpeg" alt="imagem de um jovem de toca" width="200">
<p>Eu sou <strong><em>Isabelli Ribeiro</em></strong></p>

<h1>Tenho 14 anos</h1>
<p> Sou católica Apostólica Romana, apaixonada por Cristo e pela igreja, sirvo como acólita e Serva do Senhor em meu grupo de oração jovem Guerreiros da Luz. Veja os meus
projetos!</p>

<p>Minhas habilidades:</p>

<ul></ul>
<li>Cozinhar</li>
<li>Inglês</li>
<li>Catolicismo</li>
<li>Mariologia</li>
<li>Santos Filósofos</li>

</ul>
</body>