body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  color: white;
  text-align: center;
}

.avatar {
  width: 250px;
  height: 250px; /* precisa ter altura */
  border-radius: 50%;
  margin: 0 auto 20px auto;
  background-image: url("https://www.canva.com/design/DAG46sQLV78/mMOj32FWpR8vZq14HN1e5w/edit?utm_content=DAG46sQLV78&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton");
  background-size: cover;
  background-position: center;
}
