body {
  background-color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  padding: 50px;
  border-radius: 8px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
