body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  padding: 40px;
  color: white;
  text-align: center;
}

.avatar {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px auto;
}
